# specific files ignored
.Rhistory
.RData
.RDataTemp
ErosionDB.html
ErosionDB.docx

# file or dir in this file will be ignored
Proposal/
data/old/
References/
SoilErosionModel/
extdata/

# ignore all files in any directory named Manuscript/SHDB_cash*SHDB/files
Manuscript/
ErosionDB_cache/
ErosionDB_files/

# ignore all .ini .html .tiff
*.ini
*.html
*.tiff
.Rproj.user/

# ignore all pdf in outputs
outputs/*.pdf

# project path
# /G/My\ Drive/MyResearch/SoilErosionDB
.Rproj.user
